JWT_SECRET=change-me
JWT_EXPIRES_IN=8h
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=prestamos-nobancarios
SEED_ADMIN_IDENTIFICACION=7-0131-0975
SEED_ADMIN_NOMBRE= Gloriana Peña Ramirez
SEED_ADMIN_TELEFONO=8537-3750
SEED_ADMIN_CORREO=gloryx@msn.com
SEED_ADMIN_PASSWORD=Prestamos2026!
